*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8CC461;
    color: white;
    padding: 2%;
}

main{
    height: 90vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 125px;
}

.scoreBoard{
    border: 2px solid white;
    border-radius: 13px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.gameName{
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
}

.scores{
    display: flex;
    gap: 20px;
    font-size: 17px;
    color: #656565;
    text-align: center;
}

.scores div{
    width: 155px;
    height: 100%;
    background-color: white;
    border-radius: 9px;
    padding: 15px;
    
}

.scores h2{
    font-size: 4em;
    color: #252525;
    font-weight: 700;
    line-height: 80px;
}

.layoutDesign{
    display: flex;
    justify-content: center;
    gap: 8em;
}

.layoutDesign p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 17px;
}

.gameIcons{
    height: 150px;
    width: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid #0074B6;
    border-radius: 50%;
}

#userPicked{
    box-sizing: content-box;
    height: 118px;
    width: 118px;
    box-shadow: 0 0 0 35px hsla(115, 61%, 37%, 1) ,
    0 0 0 55px hsla(115, 61%, 37%, .7),
    0 0 0 75px hsla(115, 61%, 37%, .4);
    transition: all 2s;
}

.msgWindow{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.msgWindow h1{
    font-size: 39px;
}

.msgWindow h3{
    font-size: 25px;
}

.msgWindow button{
    position: absolute;
    bottom: 0px;
    width: 174px;
    border-radius: 9px;
    padding: 5px ;
    background-color: white;
    color: #6B6B6B;
    font-size: 15px;
    border-color: transparent;
}

/* game rules container */

#gameRulesContener{
    position: fixed;
    right: 40px;
    top: 36%;
    transition: all 0.4s;
    visibility: visible;
    opacity: 0;
}

#boxClose {
    height: 60px;
    width: 60px;
    text-align: center;
    position: absolute;
    top: -30px;
    right: -30px;
    color: white;
    font-weight: bold;
    background-color: #ff0000;
    text-decoration: none;
    font-size: 44px;
    border: 5px solid white;
    border-radius: 50%;

}

.gameRules{
    width: 300px;
    padding: 15px;
    padding-left: 30px;
    background-color: #004429;
    border: 5px solid white;
    border-radius: 13px;
}

.gameRules h1{
    text-align: center;
}

.gameRules ul{
    list-style-type: square;
}

li{
    margin: 14px;
}

li::marker {
    color: #FFD600;
    size: 20px;
}
  
.floatButtons{
    position: fixed;
    right: 30px;
    bottom: 10px;
    display: flex;
    gap: 20px;
}

#rulesButton , .nextbutton{
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    background-color:#8CC461;
    color: white;
    font-size: 21px;
}